* {
    margin: 0;
    padding: 0;
}

html, body, #app, .fill-container {
    height: 100%;
    width: 100%;
    background-color: black;
}

video {
    display: block;
}

.hide {
    opacity: 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid #00b7c3;
    background-color:black;
    bottom: -12px;
    left: -12px;
    position: absolute;
    cursor: pointer;
}

.bottom {
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    background-color:rgba(5, 5, 5, 0.5);
}

#controller {
    position: fixed;
    height: 100%;
    top: 0;
    background-color: transparent;
}

#play-panel {
    margin-left: calc(50% - 75px);
    margin-top: 10px;
}

#play-panel>li {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    display: inline-block;
}

#play-panel>li:hover {
    background-color: #555;
    border-color: #fff;
}

#play-panel i {
    color: #fff;
    font-size: 35px;
    opacity: 1;
}